/* Dark mode colors. */
:root {
    --sl-color-accent-low: #00273c;
    --sl-color-accent: #0072a4;
    --sl-color-accent-high: #90d2fd;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #e4f0f5;
    --sl-color-gray-2: #b7c5ca;
    --sl-color-gray-3: #75919b;
    --sl-color-gray-4: #435d66;
    --sl-color-gray-5: #233c45;
    --sl-color-gray-6: #112b33;
    --sl-color-black: #0f1a1e;
    --sl-content-inline-start: 0px;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #aedeff;
    --sl-color-accent: #0074a7;
    --sl-color-accent-high: #003652;
    --sl-color-white: #0f1a1e;
    --sl-color-gray-1: #112b33;
    --sl-color-gray-2: #233c45;
    --sl-color-gray-3: #435d66;
    --sl-color-gray-4: #75919b;
    --sl-color-gray-5: #b7c5ca;
    --sl-color-gray-6: #e4f0f5;
    --sl-color-gray-7: #f1f7fa;
    --sl-color-black: #ffffff;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

p {
    text-align: justify;
}

.drawio {
    width: 100%;
    max-width: 100%;
}

.drawio>svg {
    width: 100%;
}

.drawio path:not([stroke=none]) {
    stroke: var(--sl-color-white);
}

.drawio rect:not([stroke=none]) {
    stroke: var(--sl-color-white);
}

.drawio div {
    color: var(--sl-color-white) !important;
}

.hidden {
    display: none !important;
}