---
import { getEntryBySlug } from "astro:content";
let promises = [];
if (Astro.url.pathname !== "/" && Astro.params.slug) {
  const page = (await getEntryBySlug(
    "docs",
    Astro.params.slug as string
  )) as any;
  if (page.data)
    if (page.data.references)
      promises = page.data.references.map(async (val: string) =>
        val.startsWith("https://")
          ? { slug: val, data: { title: val, description: "" } }
          : await getEntryBySlug("docs", val)
      );
}
const docs = (await Promise.all(promises)).map((val) => {
  if (!val.slug.startsWith("https://")) val.slug = `/${val.slug}`;
  if (val.slug.startsWith("https://")) val.targetBlank = true;
  return val;
});
---

{
  docs.length > 0 ? (
    <>
      <h2>References</h2>
      <ul>
        {docs.map((val: any) => (
          <li>
            <a href={val.slug} target={val.targetBlank ? "_blank" : ""}>
              {val.data.title}:
            </a>{" "}
            {val.data.description}
          </li>
        ))}
      </ul>
    </>
  ) : (
    ""
  )
}
